header {
    background: #99ccff;
    margin-bottom: 1.5rem;    
}

.header_container {
    display: flex;
    margin: auto;
    max-width: 1024px;
    padding: 2rem 1rem 0 1rem;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.header_main_text {
    color: white;
    text-decoration: none;
}


.header_nav{
    list-style-type: none;
    margin: .4em
}

.header_nav li {
    float: left;
    padding: 0 1em;
}

.header_nav li p a{
    font-size: 1.1rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    color: inherit;
}