header {
    background: #99ccff;
    margin-bottom: 1.5rem;    
}

header.h1{
    color: red;
}

.header_container {
    margin: 0 3rem;
    max-width: 1024;
    padding: 2rem 1rem;
}

.header_container > h1 {
    margin: 0;
    display: flex; /* This doesn't work yet */
}

.header_main_text {
    color: white;
    text-decoration: none;
}

.header_nav{
    list-style-type: none;
    float: right;
    
}

.header_nav li {
    float: left;
    padding: 0 2rem;
}