.container {
    margin-bottom: 2em;
}

.main_image {
    background-image: url("../images/poppies_cropped.jpg");
    height: 500px;
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}

.image_text{
    top: 270px;
    left: 100px;
    font-size: 6em;
    position: absolute;
    z-index: 2;
    color: white;
}