.container {
    max-width: 1024px;
    margin: auto;
    padding-bottom: 5em;

}

.header {
    text-align: center;
}

.body {
    display: flex;
}

.description {
    padding-left: 2em;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.button{
    background-color: #99ccff;
    padding: 1em;
    align-self: flex-start;
    margin: auto;
}

.button_text{
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}