.container {
    max-width: 1024px;
    margin: auto;
    padding-bottom: 5em;

}

.header {
    text-align: center;
}

.body {
    display: flex;
}

.description {
    display: flex;
    flex-direction: column;
    text-align: center;
}